.classly-modules {
    display: grid;
    grid: auto-flow dense / 150px 5fr;
}

.classly-grid {
    display: grid;
}

.classly-grid-1 {
    grid: auto-flow dense / 1fr;
}

.classly-grid-2 {
    grid: auto-flow dense / 1fr 1fr;
}

.classly-grid-3 {
    grid: auto-flow dense / 1fr 1fr 1fr;
}

.classly-grid-4 {
    grid: auto-flow dense / 1fr 1fr 1fr 1fr;
}

.classly-grid-5 {
    grid: auto-flow dense / 1fr 1fr 1fr 1fr 1fr;
}

.classly-grid-6 {
    grid: auto-flow dense / 1fr 1fr 1fr 1fr 1fr 1fr;
}

.classly-grid-7 {
    grid: auto-flow dense / 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.classly-times,
.classly-column {
    display: flex;
    flex-direction: column;
}

.classly-time,
.classly-cell {
    display: flex;
    flex: 1;
    min-height: 120px;
}

.classly-cell.classly-day {
    display: block;
    min-height: 60px;
}

.classly-time.classly-empty {
    min-height: 60px;
}

.classly-cell.classly-class {
    position: relative;
}

.classly-single {
    position: absolute;
    background: #000;
    display: flex;
    width: 100%;
    z-index: 1;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}

.classly-single:hover {
    background: #222;
    transform: scale(1.05);
    z-index: 5;
}

.classly-single a {
    padding: 15px;
    font-size: 14px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.classly-single a p {
    margin: 0;
}

.classly-time__label {
    width: 100%;
    display: block;
}

.classly-time__label,
.classly-day__label {
    font-weight: bold;
}

p.classly-class-time {
    opacity: 0.75;
}

p.classly-class-title {
    font-weight: bold;
    font-size: 16px;
}

.classly-time,
.classly-cell {
    border-bottom: 1px solid rgb(0 0 0 / 20%);
}

.classly-column {
    border-left: 1px solid rgb(0 0 0 / 20%);
}

.classly-cell.classly-day, 
.classly-time.classly-empty,
.classly-time .classly-time__label {
    min-height: 0;
    padding: 30px;
}

.classly-time .classly-time__label {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 16px;
}

.classly-time {
    text-align: right;
}

.classly-filtering {
    justify-content: center;
    display: flex;
    align-items: center;
    margin: 0 0 15px 0;
    grid-gap: 2.5px;
}

button.classly-filter-button {
    background: none;
    color: #000;
    border: 1px solid #000;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 15px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    cursor: pointer;
}

button.classly-filter-button:hover,
button.classly-filter-active {
    background: #000;
    color: #fff;
}

.classly-instructor-social {
    display: flex;
    grid-gap: 5px;
}

.classly-instructor-social a svg {
    width: 30px;
    height: 30px;
}

.classly-instructor-social a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.classly-single-instructors ul li a {
    color: #000;
    text-decoration: none;
}

@media screen and (max-width:991px) {

    .classly-times {
        display: none;
    }
    
    .classly-modules {
        grid: auto-flow dense / 1fr;
    }
    
    .classly-grid {
        grid: auto-flow dense / 1fr;
    }
    
    .classly-cell.classly-empty {
        display: none;
    }

}